/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    background: #222;
    color: #f1f1f1;
    font-size: 12px;
    line-height: 1.4;
}

::-moz-selection {
    background: #bada55;
    text-shadow: none;
}

::selection {
    background: #bada55;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    /* border-bottom: 20px solid #444; */
}

.footer-container,
.main aside {
    /* border-top: 20px solid #444; */
}

.header-container,
.footer-container,
.main aside {
    background: #191919;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */
nav {
    background: #2b2b2b;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav ul li {
    margin: 0;
    padding: 0;
    float: right;
}
nav a {
    color: white;
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: 100px;
    height: 20px;
    line-height: 20px;
    background: #353535;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: none;
    background: #333
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding:0.2em 0.8em 0.5em;
    margin-bottom: 4px;
}

.main aside h3 {
    font-size:1em;
    padding: 0.1em 0;
    margin: 0.1em 0;
}

.main aside p {
    font-size:1em;
    padding: 0.1em 0;
    margin: 0.1em 0;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*header-container styles*/
.header-info {
    width: 56%;
    float:left;
}
.header-info h1,
.header-info h2,
.header-info h3,
.header-info h4 {
    float: left;
    width: 48%;
    margin: 0.2rem 0 0;
    padding: 0.14rem;
}

.header-info h1 i.fa,
.header-info h2 i.fa,
.header-info h3 i.fa,
.header-info h4 i.fa {
    margin: 5px 10px 0 0;
}

.header-info h1 {
    font-size: 1.3em;
}
.header-info h2 {
    font-size: 1em;
}

/*main-container styles*/
.stripes {}

.stripes > section {
    /* width: 100%; */
    margin-bottom: 4px;
}
.stripes > section .selected {
    /* border: 3px solid #B11; */
    /* padding: 7px; */
}
.stripes > section > header {
    width: 115px;
    height: 105px;
    background: #333;
    text-align: center;
    padding: 10px;
    font-weight: normal;
    float: left;
    margin-right: -135px;
}
.stripes > section i.fa {
    margin-bottom: 10px;
    display: block;
}
.stripes > section > article {
    width: 84%;
    float: left;
    padding-left: 135px;
    display: flex;
    flex-direction: row;
    position: relative;
    /* overflow: hidden; */
}
.stripes > section > article .items {
  justify-content: center;
  display: flex;
  align-items: center;
  /*top: 0;*/
  /*left: 0;*/
  transform: translateY(0) translateX(0);
  transition:  .5s;
  transition-timing-function: ease-in-out;
  /* width: 100%; */
  /* overflow: hidden; */
  /* position: absolute; */
  margin-left: 4px;
}
.stripes > section > article > ul {
    padding : 0;
    margin: 0 0 0 4px;
    /* height: 170px; */
    overflow: hidden;
}
.stripes > section > article > ul li {
    padding: 10px;
    margin: 0;
    display: inline-block;
    list-style: none;
    width: 108px;
    height: 105px;
    text-align: center;
    background: #444;
}

.stripes .static > article li {
    background: #333
}



.image {
  height: 125px;
  width: 200px;
  margin-right: 4px;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper .poster-title {
  position: absolute;
  top:130px;
  padding: 25px;
  text-align: center;
  font-weight: bold;
  transition: top 0.5s;
  position: absolute;
  left: 0;
  bottom: 0;
  right : 0;
  line-height: 26px;
  cursor: pointer;
  color: #fff;
  font-size:14px;
  text-decoration: none;
  line-height: 1.1em;
}

.image-wrapper:before {
  background: green;
  opacity: 0.1;
  transform: rotate(5deg);
  transition: all 0.2s;
  position: absolute;
  top:130px;
  left: 0;
  bottom: 0;
  right : 0;
  content:'';
}
.image-wrapper:hover:before {
  background: #8A0000;
  opacity: 0.7;
  transform: rotate(0);
  top:0;
}


.image-wrapper:hover .poster-title {
  top:0;
}

.button-overlay {
  /* z-index: 10; */
  position: absolute;
  height: 115px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2em;
  align-items: center;
  display: flex;
  /* opacity: 0.8; */
  /* top: 40%; */
  cursor: pointer;
  text-align: center;
  padding: 5px;
}

.left {
  /* left: 0; */
}

.right {
  right: 0;
}

.s {
  transition: all 0.2s ease-in;
}
.selected {
  background: red !important;
  transform: scale(1.1);
  /*box-shadow: inset 0 0 0 20px #4F4F4F;*/

}


/*temporary styles*/
.full {
  width : 100% !important;
}

.asset {
  min-height: 400px
}

.houseOfCards .asset .title {
  color : #4e4e4e ;  
  display: block;
} 

.houseOfCards .trailer {
  float : right;
}

.houseOfCards .cast {
  float : left;
  clear : both;
  color : #666;
  margin: 20px 0;
}


.houseOfCards .description {
  font-size : 1.3em;
  width : 60%;
  float : left;
  clear : both;
  color : #555;
  margin-bottom: 20px;
}

.houseOfCards {
  transition: all 0.4s ease-in-out;
  background: url('http://www.returndates.com/backgrounds/houseofcards.jpg') no-repeat center bottom;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        /* width: 27%; */
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media screen and (min-width: 720px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #0E0E0E;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

    nav a {

        font-size: 0.8em;
        width: 80px;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: right;
        width: 65%;
        overflow: hidden;
    }

    .main aside {
        float: left;
        width: 28%;
    }
}

@media screen and (min-width: 1080px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        /* width: 1026px; *//* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}